body{
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container{
    display: flex;
    width: 780px;
    height: 780px;
    flex-shrink: 0;
    flex-direction: column;
}

.line{
    width: 780px;
    flex: 1;
    display: flex;
}
.paper{
    background-color: antiquewhite;
    flex:  1;
}
#btn{
    align-self: flex-start;
    padding: 17px;
}

#ui{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color{
    width: 118px;
    height: 38px;
    margin-top: 8px;
}
#txt{
    font-size: 18px;
    color: antiquewhite;
}

