body{
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    width: 780px;
    height: 780px;
    flex-shrink: 0;
    flex-direction: column;
}

.line{
    width: 780px;
    flex: 1;
    display: flex;
}
.paper{
    background-color: antiquewhite;
    flex:  1;
}
#btn{
    align-self: flex-start;
    padding: 17px;
}

