body{
    background-color: lightslategray;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper{
    background-color: antiquewhite;
    flex-shrink: 0;
}

